{% extends 'base.html' %}

{%block title%}
<title>Delete</title>
<style>
    h1, h3{
        text-align: center;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }

</style>
{% endblock %}

{% block content %}
<div class="content">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>Name</th><td >{{ data.cName}}</td>
            </tr>
            <tr>
                <th>Author</th><td>{{ data.cAuthor}}</td>
            </tr>
            <tr>
                <th>Company</th><td>{{ data.cCompany }}</td>
            </tr>
            <tr>
                <th>Class</th><td>{{ data.cClass }}</td>
            </tr>
            <tr>
                <th>Price</th><td>{{ data.cPrice }}</td>
            </tr>
            <tr>
                <th>Date</th><td>{{ data.cDate|date:'Y-m-d'}}</td>
            </tr>
            <tr>
                <th>Inventory</th><td>{{ data.cInventory}}</td>
            </tr>
            <tr>
                <th>Picture</th><td><img src="/media/{{ data.cImage }}" style="width: 200px; height: 300px;"></td>
            </tr>
            <tr>
                <th colspan="2" style="text-align:center;">
                    <button onclick="return doubleCheck();" class="btn btn-primary mybutton-style">Delete</button>
                </th>
            </tr>
        </table>

    </form>
</div>
<script>
    function doubleCheck() {
        return confirm("\n您確定要刪除此筆資料嗎?\n刪除後無法回復!")
    }
</script>

{% endblock %}
